@import '../../../styles/mixins.scss';

.services {
    color: var(--white);
    font-family: var(--font-family);
padding-bottom: 110px;
}
.servicesTopText{
    display: flex;
   align-items: center; 
    justify-content: space-between;
    margin-bottom: 48px;

    @include desktop{
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: 72px;
        display: flex;
        gap: 46px;
    }
}
.servicesTitle {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;

    @include tablet{
        font-size: 36px;
    }

    @include desktop{
        font-size: 48px;
    }

}
.servicesFacilitiesList {
    position: relative;
    width: 129px;
    // width: 141px;
    height: 89px;
    @include desktop{
        width: 250px;
        height: 119px;
    }
}
.servicesFacilitiesItem {
    position: absolute;
    border-radius: 24px;
    width: 73px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 12px;
    text-transform: capitalize;
    color: var(--yellow);
    background: var(--black);

     @include desktop{
        font-size: 24px;
         height: 48px;
         font-weight: 400;
    }

}

   


.servicesFacilitiesItem:nth-child(1) {
    transform: rotate(-37deg);
    top: 9px;
    left: 0;
    width: 73px;
    @include desktop{
        width: 146px;
        top: 20px;
        left: 6px;
    }
}

.servicesFacilitiesItem:nth-child(2) {
    transform: rotate(-9deg);
    top: 14px;
    right: 17px;
    width: 51px;
     @include desktop{
        width: 99px;
        top: 16px;
        right: 22px;
    }
}

.servicesFacilitiesItem:nth-child(3) {
    transform: rotate(0deg);
    bottom: 0;
    right: 0;
    width: 97px;
    @include desktop{
        width: 181px;
        top: 72px;
        right: 8px;
    }
}

.servicesImgList {
    display: flex;
    gap: 17px;
    align-items: flex-end;
    margin: 0 auto 24px auto;
    justify-content: center;
    &--sec{
        flex-direction: row-reverse;
        @include tablet{
            display: none;
        }
    }
    @include tablet{
        gap: 21px;
    }
    &--th{
        height: 570px !important;
    }
}
.servicesImgItem{
    border-radius: 8px;
    overflow: hidden;
    &--f{
        height: 570px;
    }

    &--s{
        height: 378px;
        @include tablet{
            height: 570px;
        }
    }
    @include desktop{
        border-radius: 12px;
        height: 378px;
    }
}

.servicesPref {
    border-radius: 8px;
    padding-top: 41px;
    padding-bottom: 58px;
    padding-left: 15px;
    padding-right: 26px;

    display: flex;
    justify-content: center;

    position: relative;
    z-index: 1;
    background-image: url('/services-bg-mob.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;

    max-width: 97%;
    &--mob{
        @include tablet{
            display: none;
            background-image: url('/services-bg-mob.png');
        }
    }
    @include tablet{
        background-image: url('/services-bg-tab.png');
    }

    @include desktop{
        padding-bottom: 0;
            min-height: 526px;
            background-image: url('/services-bg-desk.png');
        }
}
.servicesPrefText{
    transform: rotate(4deg);
    padding-left: 51px;
    position: relative;
    width: 246px;

    @include mobile{
        width: 283px;
        padding-left: 57px;
    }
    @include desktop{
     padding-left: 14px;   
    }
}
.servicesPrefTitle {
    font-weight: 600;
    font-size: 24px;
    width: 229px;
    margin-bottom: 20px;
   
}
.servicesPrefDescr {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    width: 220px;
}

.servicesPrefBtn {
    display: block;
    border-radius: 100%;
    background-color: var(--yellow);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin-left: auto;

    position: absolute;
    bottom: -32px;
    right: 26px;
    
    @include mobile{
        right: 51px;
    }
    @include tablet{
        bottom: 58px;
        right: 51px;
    }
    @include desktop{
        width: 105px;
        height: 105px;
        top: 400px;
        right: -29px;
        svg{
            width: 48px;
            height: 48px;
        }
    }
}

.servicesPrefBtnIconBox{
    box-shadow:0 4px 6px #00000061;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include desktop{
        width: 90px;
        height: 95px;
    }
}

.mobImg{
   @include desktop{
    display: none;
   } 
}
.tabImg{
    display: none;
    @include tablet{
        display: block;
        height: 378px;
        overflow: hidden;
    }
}
.deskImg{
    display: none;
    @include desktop{
        display: block;
    }
    &--fr{
        height: 570px;
        overflow: hidden;
    }
}
.imgTabSc{
    max-height: 378px !important;
}

.mainDeskImgBlock{
    display: flex;
}

.deskImgBx{
    display: flex;
    gap: 24px;
    align-items: flex-end;
}
.mobile{
    @include tablet{
        display: none;
    }
}
.mobServicesMainBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.mobServicesImgBox{
    display: flex;
    align-items: flex-end;
    gap: 17px;
    width: 100%;
    justify-content: center;
}
.servImgfr{
border-radius: 8px;
overflow: hidden;
}
.servImgsec{
border-radius: 8px;
overflow: hidden;
}
.tablet{
    display: none;
    @include tablet{
        display: block;
    }
    @include desktop{
        display: none;
    }
}
.tabServicesMainBox{
    display: flex;
    gap: 21px;
    align-items: stretch;
    justify-content: center;

}
.desktop{
    display: none;
    @include desktop{
        display: block;
    }
}
.deskServicesMainBox{
display: flex;
}
.deskServicesImgBox{
    display: flex;
    gap: 24px;
        align-items: flex-end;
}
