
@import '../../../styles/mixins.scss';

.hero{
    position: relative;
    padding-top: 387px;
    overflow-x: hidden;
    width: 100%;

    &::before{
        @include desktop{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('/ninja-back-desk.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 227px;
        }  
    }

    &::after{
        content: '';
        top: 0;
        right: -458px;
        position: absolute;
        background-image: url('/motorcycle-hero-mobile.png');

        @include tablet{
            background-image: url('/motorcycle-hero-tab.png');
        }
        @include desktop{
            background-image: url('/motorcycle-hero-desk.png');
            right: -405px;;
        }
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        width: 833px;
        height: 746px;
        z-index: -2;
    }

    @include tablet{
        padding-top: 365px;
    }
    @include desktop{
        padding-top: 154px;
    }

    color: var(--white);
   
}
.heroContent{
    position: relative;
    padding: 42px 8px 51px 8px;

    background-image: url('/hero-rectangle-mob.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

    width: 85%;

    @include mobile{
         background-size: contain;
         padding-right: 0;
         width: 343px;
    }
 @include tablet{
        padding: 112px 203px 101px 21px;
        width: 696px;
    }
    @include desktop{
        background-image: none;
        padding: 0;
    }
}
.heroContentText{
    margin-bottom: 28px;
    font-family: var(--second-family);
    @include tablet{
        margin-bottom: 48px;
    }
    @include desktop{
        margin-bottom: 56px;
    }
}
.heroReviewsExmp{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 17.5px;
    @include tablet{
        margin-bottom: 12px;
    }
    @include desktop{
        margin-bottom: 24px;
    }
}
.heroSubtitle{
    display: flex;
    flex-wrap: wrap;
    width: 88px;
    gap: 2px;
    font-weight: 400;
    font-size: 8px;
    @include tablet{
        font-size: 10px;
    }
    @include desktop{
        font-size: 10px;
    }
}
.heroSubtitleNum{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    text-transform: capitalize;
    @include tablet{
        font-size: 16px;
    }
    @include desktop{
        font-size: 16px;
    }
}
.heroTitleGroup{
    @include desktop{
        margin-bottom: 8px;
    }
}
.heroUptitle{
font-weight: 700;
font-size: 16px;
text-transform: uppercase;
@include tablet{
        font-size: 24px;
    }
    @include desktop{
font-size: 36px;
    }
}
.heroMaintitle{
font-weight: 900;
text-transform: uppercase;
color: var(--orange);
margin: 8px 0;
display: block;
font-size: 26px;

    @include mobile{
        font-size: 32px;
    }
    @include tablet{
        font-size: 48px;
        margin: 24px 0;
    }
    @include desktop{
        margin: 16px 0;
font-size: 72px;
    }
}
.herDscr{
    display: none;
    @include desktop{
        display: block;
    }
    font-family: var(--font-family);
font-size: 18px;
width: 629px;
}
.heroButtonsBox{
    
    @include mobile{
       width: 327px;
    }
    @include tablet{
        position: relative;
       width: 472px;
    }
}
.heroButtonsList{
    display: flex;
    gap: 7px;
    @include mobile{
    gap: 17px;
    }
    flex-wrap: wrap;
    @include tablet{
        gap: 24px;
       margin-bottom: 24px;
    }
}
.heroBtn{
    border-radius: 24px;
  padding: 12px;
  width: 155px;
  height: 50px;
  font-family: var(--font-family);
  font-size: 14px;
  text-transform: capitalize;
  color: var(--button-white);
  margin-bottom: 7px;
  border: none;

  @include tablet{
      padding: 16px 24px;
        width: 180px;
        height: 48px;
        font-size: 16px;
    }
}
.signup{
  background: var(--button);
  font-weight: 700;
}
.certificate {
    border: 1px solid var(--white);
  padding: 16px 39px;
  font-weight: 500;
  background-color: transparent;
}

.heroCalltoAction{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--yellow);
    transform: rotate(5deg);
    
    text-align: right;

    @include tablet {
        font-size: 14px;
        transform:rotate(-14deg);
        position: absolute;
        top: 60px;
        left: 296px;
    }
    @include desktop{
        font-size: 24px;
        width: 267px;
    }
}
.socialsListBox{
    display: none;
    @include tablet{
        display: block;
    }
}
