

.certificate{
    padding-top: 298px;
    position: relative;
}

.giftCertificate {
    background-color: #ffdc00;

    border-radius: 12px;
        width: 1280px;
        height: 315px;

   
}


    .content {
margin-left: 12px;
    }

    .heading {
padding-top: 24px;
}

    .subtitle {

    }

    .description {
 
    }

    .button {

    }

    .imageContainer {
        position: absolute;
        bottom: 0;
        right: 1050px;
        width: 391px;
        height: 406;

    }



/* Планшетная версия */
@media (max-width: 1024px) {


    .content {
  
    }

    .imageContainer {
        text-align: center;
    }
}

/* Мобильная версия */
@media (max-width: 768px) {


    .heading {
        font-size: 28px;
    }

    .subtitle {
        font-size: 20px;
    }

    .description {
        font-size: 16px;
    }

    .button {
        font-size: 14px;
    }
}