@import '../../../styles/mixins.scss';

.advantages {
  padding-bottom: 110px;
  text-transform: uppercase;
  color: #fff;

  .heading {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--white);

    @include tablet {
      font-size: 36px;
    }

    @include desktop {
      font-size: 48px;
    }
  }

  .imgWhy {
    position: relative;
    width: 105px;
    height: 19px;

    @include tablet {
      width: 139px;
      height: 25px;
    }

    @include desktop {
      top: 0;
      left: 300px;
      width: 209px;
      height: 38px;
    }
  }

  .grid {
    padding-bottom: 110px;
    padding-top: 73px;

    @include tablet {
      padding-top: 76px;
    }

    @include desktop {
      padding-top: 160px;
    }
  }

  .caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
  }
}

.advantagesImg {
  width: 100%;
}

.desktopImage {
  display: none;

  @include desktop {
    display: block;
    width: 1196px;
    height: 677px;
    margin-left: auto;
    margin-right: auto;
  }
}

.tabletImage {
  display: none;

  @include tablet {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%; // Make the image take the full width of the container
    height: 100%; // Maintain the aspect ratio
  }

  @include desktop {
    display: none;
  }
}

.mobileImage {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: block;

  @include tablet {
    display: none;
  }
}
