


.advantages {
       
text-transform: uppercase;
    color: #fff;
padding-top: 220px;


    .heading {
font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--white);

    }
        .imgWhy{

            position: relative;
            top:0;
            left: 300px;
        }
 .grid {

padding-top: 73px;
 }


        .caption {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.6);
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 18px;
            color: #fff;
        }
    }
//         .safety{
            
// position: absolute;
// top:180px;
// right: 1460px;
//         }
// .impression{
// position: absolute;
// top: 130px;
// right: 980px;
// z-index: 4;
// }
// .comfort{
// position: absolute;
// top: 200px;
//     right: 620px;
// }
/* Планшетная версия */
@media (max-width: 1024px) {
    .container {
        padding: 0 40px;
    }

    .grid {

        position: relative;
    }

}

/* Мобильная версия */
@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .heading {
        font-size: 28px;

        span {
            font-size: 20px;
        }
    }

    .gridItem {
        max-width: 100%;
    }

    .caption {
        font-size: 16px;
    }
}