@import '../../../styles/mixins.scss';

.reviewsSection {
  color: var(--white);
  padding-bottom: 110px;
}

.subtitle {
  display: none;

  @include desktop {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    margin-top: 4px;
    display: flex;
    gap: 12px;
    justify-content: end;
    width: 1277px;
    height: 112px;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 102px;
    height: 112px;
    width: 625px;
    margin-left: auto;
  }
}

.reviewContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @include tablet {
    gap: 32px;
  }

  @include desktop {
    gap: 30px;
  }
}

.reviewCard {
  background: var(--10);
  border-radius: 8px;
  padding: 24px 12px;
  width: 100%;
  height: 330px;

  @include tablet {
    width: 319px;
    height: 282px;
  }

  @include desktop {
    border-radius: 12px;
    width: 399px;
    height: 432px;
  }
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;

  @include tablet {
    font-size: 36px;
  }

  @include desktop {
    display: none;
  }
}

.subtitleReview {
  font-family: var(--font-family);
  font-weight: 400;
  margin-bottom: 68px;

  @include tablet {
    margin-bottom: 68px;
  }

  @include desktop {
    display: none;
  }
}

.avatar {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  color: var(--white);
  border-radius: 50%;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarName {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  margin-bottom: 24px;
}

.name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 42px;
  max-width: 319px;

  @include desktop {
    font-size: 24px;
  }
}

.source {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--orange);

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.titleDesk {
  display: none;

  @include desktop {
    display: block;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
  }
}
