
@import '../../../styles/mixins.scss';

.header {
    padding-top: 24px;
    width: 100%;
}

.headerNavBox{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navigationContainer{
    display: flex;
    width: 696px;
    align-items: center;
    justify-content: space-between;

@include desktop{
    width: 968px;
    gap: 241px;
    justify-content: flex-start;
   align-items: flex-start;
}
}
.navList{
    display: none;
@include tablet{
    display: flex;
    gap: 24px;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white);
}
@include desktop{
font-size: 16px;
}

}
.logoItem{
   
}

.mobMenuContainer {
     @include tablet{
        display: none;
    }
}

.mobileNav {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: scroll;
    color: var(--white);

    padding: 48px 11px 8px 18px;

    width: 161px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--second-family);
    background-color: var(--black);
    @include tablet{
        right: -190px;
        display: none;
    }
}

.showMobileNav {
    display: flex;
}

.mobileNavList{
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-weight: 400;
    font-size: 14px;
}

.mobileNavContactsList{
    display: flex;
    flex-direction: column;
    gap: 24px;

    font-weight: 700;
    font-size: 12px;
    text-transform: capitalize;
    font-family: var(--font-family);
}
.mobileNavContactsTitle{
   margin-bottom: 8px;
}
.mobileNavContactsLink{
    font-weight: 400;
    font-size: 12px;
    color: var(--white);
}

.navWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}