

.navigation {

    display: flex;
    gap: 40px;
a {
font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--white);
    }
}


                .logo {
                    width: 99px;
                    height: 94px;
                }
.footerContainer {
    background-color: #000;
    color: #fff;
    padding: 20px;

    .footerContent {
        display: flex;
        justify-content: space-between;
        



        

    }
}
.footerNav{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.socialsList{
    display: flex;
    gap: 16px;
    align-items: center;
}

.politics{

    display: flex;
    gap:319px;
    p{
    font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        color: var(--white);
    }
}

.footerLine{
    margin-top: 24px; 
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(245, 249, 253, 1);
}