@import '../../../styles/mixins.scss';



.contacts {
color: var(--white);
            position: relative;
            padding-bottom: 260px;

&::after {
    position: absolute;
        content: '';
        top: 0;
        right: 0;
        
                background-image: url('/contacts-bg-mob.png');
                z-index: 2;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 343px;
                // height: 100%;
                 z-index: 2;
               
            }

  @include tablet {
    background-repeat: no-repeat;
background-image: url('/contacts-bg-tab.png');
  }
@include desktop {
background-image: url('/contacts-bg-desk.png');
}
        }   


                .contactsHeading{
                    font-family: var(--second-family);
                        font-weight: 700;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-bottom: 48px;
                        

        @include desktop {
        font-size: 48px;
        }
                }

                                .contactFat{
                                    font-family: var(--font-family);
                                        font-weight: 700;
                                        font-size: 16px;
                                        margin-bottom: 12px;
                                        @include tablet {}
                                        
                                            @include desktop {
                                                font-weight: 600;
                                                font-size: 24px;}
                                }
.contactThink{
font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 24px;
    @include tablet {
        font-size: 16px;
    }
    
        @include desktop {
            font-size: 24px;
        margin-bottom: 32px;
    }
                                                                }
            .map{
                margin-left: auto;
                margin-right: auto;
                position: absolute;
                // width: 343px;
                // height: 100%;
                z-index: 0;
                
                
                
            }
                        .socials{

                            display: flex;
                            flex-direction: row;
                            gap: 16px;
                            margin-bottom: 15px;
                        }