

.contacts {
    // display: flex;
    
    // align-items: center;
    
    // color: #fff;
    // padding: 40px;

    .info {
        
        padding-left: 12px;
        background-color: #25384b;
display: flex;
gap: 139px;
margin-right: auto;
        margin-left: auto;
border-radius: 12px;
width: 1280px;
height: 500px;


    
        h2 {
            
            margin-top: 60px;
            font-family: var(--second-family);
                font-weight: 700;
                font-size: 48px;
                text-transform: uppercase;
                color: var(--white);
            
        }

.contactThink {
    
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
}

.contactFat {
    
    font-weight: 600;
    font-size: 24px;
    color: var(--white);
}
.contactAdress{
margin-top: 32px;
margin-bottom: 32px;
}
.contactTel{
margin-top: 72px;

}
        .socials {
            margin-top: 12px;
            display: flex;
            justify-content: center;
            gap: 15px;

            a {
                display: inline-block;
            }
        }
    }

    .map {
        width: 100%;
        display: flex;
        justify-content: center;

        iframe {
            width: 80%;
            height: 300px;
            border: none;
        }
    }

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .info {
           
            text-align: left;
            // margin-right: 20px;

            .socials {
                justify-content: flex-start;
            }
        }

        .map {
            
            iframe {
                width: 100%;
                height: 450px;
            }
        }
    }
}